.idea
__pycache__
/db/images/
/db/img/
/db/log/
/db/weights/
/lib/qt/qt.pro
/lib/qt/mainwindow.h
/lib/qt/mainwindow.cpp
/lib/qt/qt.pro.user
/lib/qt/main.cpp
/lib/qt/main.pyproject.user
/lib/polygon_yolov5/polygon-yolov5s-ucas.pt
/lib/polygon_yolov5/runs/
/lib/polygon_yolov5/data/
/lib/polygon_yolov5/polygon_test.py
/lib/polygon_yolov5/polygon_detect.py
/lib/polygon_yolov5/polygon_train.py
/lib/polygon_yolov5/test.py
/lib/polygon_yolov5/detect.py
/lib/polygon_yolov5/hubconf.py
/lib/polygon_yolov5/Polygon-Tutorial2.ipynb
/lib/polygon_yolov5/Polygon-Tutorial1.ipynb
/lib/polygon_yolov5/train.py
/lib/polygon_yolov5/weights/
/db/runway/
/db/imu/
